In [3]:
import pandas as pd

In [6]:
first = []
second = []
third = []
results = []

for i in [0, 1]:
    for j in [0, 1]:
        for k in [0, 1]:
            first.append(i)
            second.append(j)
            third.append(k)
            res = i or (j and k) # bool function
            results.append(res)

final = {'A': first, 'B': second, 'C': third, 'A or (B and C)': results}
pd.DataFrame(final)

   A  B  C  A or (B and C)
0  0  0  0               0
1  0  0  1               0
2  0  1  0               0
3  0  1  1               1
4  1  0  0               1
5  1  0  1               1
6  1  1  0               1
7  1  1  1               1